@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.container-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.max-container{
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 62px;
    padding: 24px;
}

.logotype{
    font-size: 24px;
    color: #F9FAF8;
}

.primary h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.primary p{
    font-size: 18px;
    color: #E5E7EB;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
    color: #E5E7EB;
    font-size: 18px;
}

.awesome-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 62px;
}



.awesome-section button{
    background-color: #3882F6;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 16px;
    font-weight: bold;
}

.awesome-section img{
    border-radius: 8px;
}

.random-information h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.random-information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 42px;
}

.random-information div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.random-information .item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 150px;
}

.random-information .item div{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

